.text-field-user-with-icon {
    -fx-background-image: url("images/user.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0 0 0 0;
}

.text-field-password-with-icon {
    -fx-background-image: url("images/password.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0 0 0 0;
}
.text-field-password2-with-icon {
    -fx-background-image: url("images/password2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0 0 0 0;
}

.text-field-email-with-icon {
    -fx-background-image: url("images/email.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0 0 0 0;
}

.text-field-menu-with-icon {
    -fx-background-image: url("images/menuu.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0 0 0 0;
}

.text-field-search-with-icon {
    -fx-background-image: url("images/search.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0 0 0 0;
}

.text-field-return-with-icon {
    -fx-background-image: url("images/book.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0 0 0 0;
}

.text-field-repair-with-icon {
    -fx-background-image: url("../../../images/bookRepair1.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0 0 0 0;
}

.text-field-delete-with-icon {
    -fx-background-image: url("../../../images/bookDelete1.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0 0 0 0;
}
.button {
    -fx-background-color: rgba(255, 255, 255, 0.5); /* Màu nền trong suốt */
    -fx-background-radius: 5; /* Góc bo tròn */
    -fx-border-color: transparent; /* Không có viền */
    -fx-cursor: hand; /* Con trỏ dạng tay */
    -fx-padding: 5;
    -fx-alignment: center;
}

/* Hiệu ứng hover */
.button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.8); /* Màu nền sáng hơn */
}

/* Nút icon */
.button .graphic {
    -fx-fill: #000000; /* Màu của icon */
}

.text-field-add-with-icon {
    -fx-background-image: url("../../../images/addBook1.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0 0 0 0;
}

.text-field-manager-with-icon {
    -fx-background-image: url("images/profile.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0 0 0 0;
}

.text-field-logout-with-icon {
    -fx-background-image: url("images/logout.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0 0 0 0;
}

.text-field-menuW-with-icon {
    -fx-background-image: url("images/menu.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0 0 0 0;
}